@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-on-primary-container: #eeefff;
  --color-inverse-surface: #2d3133;
  --color-surface-tint: #0053db;
  --color-secondary-fixed: #dae2fd;
  --color-surface-container-low: #f2f4f6;
  --color-primary-fixed-dim: #b4c5ff;
  --color-on-primary-fixed-variant: #003ea8;
  --color-surface-container-lowest: #ffffff;
  --color-surface-variant: #e0e3e5;
  --color-tertiary-fixed: #d3e4fe;
  --color-surface-bright: #f7f9fb;
  --color-on-surface: #191c1e;
  --color-on-tertiary: #ffffff;
  --color-inverse-on-surface: #eff1f3;
  --color-on-primary-fixed: #00174b;
  --color-on-primary: #ffffff;
  --color-error: #ba1a1a;
  --color-tertiary-container: #5e6e85;
  --color-on-tertiary-container: #e9f0ff;
  --color-surface: #f7f9fb;
  --color-outline-variant: #c3c6d7;
  --color-primary: #004ac6;
  --color-primary-container: #2563eb;
  --color-tertiary-fixed-dim: #b7c8e1;
  --color-on-tertiary-fixed: #0b1c30;
  --color-on-background: #191c1e;
  --color-primary-fixed: #dbe1ff;
  --color-background: #f7f9fb;
  --color-on-secondary: #ffffff;
  --color-on-secondary-fixed: #131b2e;
  --color-on-secondary-container: #5c647a;
  --color-on-error-container: #93000a;
  --color-surface-dim: #d8dadc;
  --color-error-container: #ffdad6;
  --color-on-surface-variant: #434655;
  --color-surface-container-highest: #e0e3e5;
  --color-outline: #737686;
  --color-surface-container-high: #e6e8ea;
  --color-secondary-container: #dae2fd;
  --color-on-tertiary-fixed-variant: #38485d;
  --color-surface-container: #eceef0;
  --color-secondary: #565e74;
  --color-secondary-fixed-dim: #bec6e0;
  --color-on-secondary-fixed-variant: #3f465c;
  --color-on-error: #ffffff;
  --color-inverse-primary: #b4c5ff;
  --color-tertiary: #46566c;

  --spacing-unit: 8px;
  --spacing-margin-desktop: 40px;
  --spacing-sidebar-width: 280px;
  --spacing-gutter: 24px;
  --spacing-margin-mobile: 16px;
  --spacing-container-max: 1440px;
}